// colors
$orange: #faa730;
$orange-light: #ffb243;
$orange-dark: #f4a22d;
$light-orange: #fff6ea;
$orange-touch: #e3eae0;
$grey: #999999;
$grey-light: #e6e6e6;
$grey-lighter: #f5f5f5;
$grey-md: #b3b3b3;
$red: #ea4b48;
$black: #141716;
$blue: #185588;
$light-blue: #e8eef3;
$blue-light: #e8eef3;
$bg: #f3f5f7;
$white: #ffffff;
$status-red: #ea4b48;
$status-pink: #d84f83;
$status-dark-blue: #4875ea;
$status-blue: #2388ff;
$status-yellow: #ff8a00;
$status-light-blue: #2388ff;
$grey2: #e5e7e9;
$grey-light2: #f6f7f7;
$green: #00d824c5;

// breakpoints
$tab: 1279px;
$mob: 767px;

$container-width: 600px;

$main-font: 'Gotham Pro', sans-serif;